body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20%;
    padding-right: 20%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#father {
    position: absolute;
    left: 10px;
    width: 100%;
    top: 40px;
}
#father > div {
    margin-right: 5px;
}

.leftDiv {
    display: inline-block;
    width: 30%;
    float: left;
    margin-top: 20px;

    /*border: 1px solid black;*/
}

.centerDiv {
    display: inline-block;
    width: 37%;
    float: left;
    margin-top: 20px;
    border: 1px solid black;
}

.rightDiv {
    display: inline-block;
    width: 30%;
    min-width: 250px;
    float: left;
    margin-top: 20px;
    border: 1px solid black;
}

#quickSearchArea {
    display: inline-block;
    width:100%;    
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#quickSearchArea button {
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    background-color: #fbe568;
    border: 3px outset;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
}
/*#quickSearchArea:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}*/
#quickSearchArea button:first-child {
    margin-right:10px;
}
#quickSearchArea button:hover {
    background-color: #102074;
    color: #ffffff;
}
.news {
    border: 1px solid #203294;
}

h1 {
    font-size: 10px;
}

.ads {
    margin-top:10px;
    border: 2px solid #863131;
    text-align:center;
}
.ads > div {
    border: 2px solid #000000;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}

    .ads span {
        font-size:30px;
    }
.titleWord {
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    color:#eb7826;
    font-weight:bold;
    margin-top:3px;
}
.searchBox {
    background-color: #edbd9b;
    border-radius:10px;
    width:120px;
}
input:focus {
    outline: none;
}

#button {
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    background-color: #fbe568;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
button:hover {
    background-color: #102074;
    color: #ffffff;
}
ul {
}
#searchArea > ul li{
    float:left;
    
    list-style:none;
}

#searchArea {
    border: 2px solid #863131;
    width:100%;
    height:75px;

}

hr {
    margin-top: 3px;
    margin-bottom: 7px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #ff6a00;
}

#searchLocation {
    margin-top: 5px;
    border: 2px solid #863131;
    width:100%;

}
.titleWordDiv {
    margin-top:5px;
    margin-bottom:2px;
}
