@{
    ViewBag.Title = "e起學游泳";
}

<div class="row">
    <div class="col-md-4">
        @*<div>
                <a href="#"><img src="~/Images/fb.png" style="width:35px; height:35px" />FB按讚</a>
            </div>*@
        <div>
            <div class="titleWordDiv"><span class="titleWord">地區搜尋</span></div>
            <hr />
            @{Html.RenderAction("AreaSearch", "Home", new { id = "areaTree" });}
        </div>
    </div>
    <div class="col-md-4">
        <!--刊登學游泳 / 當教練 按鈕區塊-->
        <div id="quickSearchArea">
            <button onclick="document.location.href = '@Url.Action("NewPostToLearn", "Post", "")';">刊登學游泳</button>
            <button onclick="document.location.replace('@Url.Action("NewPostToTeach", "Post", "")')">刊登當教練</button>
        </div>
        <div class="NewPost">
            @*@{Html.RenderAction("NewPost", "Home");}*@
        </div>
    </div>
    <div class="col-md-4">
        <div >
            <div class="titleWordDiv"><span class="titleWord">快速查詢</span></div>
            <hr />
            @Html.TextBox("searchBox", "", new { @class = "searchBox", width = "80px", placeHolder = "請輸入關鍵字" })
            <button>找教練</button>
            <button>找學生</button>
        </div>
    </div>
</div>
@*<div id="father">
        <div class="leftDiv">
            @*<div>
                <a href="#"><img src="~/Images/fb.png" style="width:35px; height:35px" />FB按讚</a>
            </div>*
            <div id="searchLocation">
                <div class="titleWordDiv"><span class="titleWord">地區搜尋</span></div>
                <hr />
                @{Html.RenderAction("AreaSearch", "Home", new { });}
            </div>
        </div>
        <div class="centerDiv">
            <!--刊登學游泳 / 當教練 按鈕區塊-->
            <div id="quickSearchArea">
                <button>刊登學游泳</button>
                <button>刊登當教練</button>
            </div>
            <div class="NewPost">
                @{Html.RenderAction("NewPost", "Home", new { });}
            </div>
        </div>
        <div class="rightDiv">
            <div id="searchArea">
                <div class="titleWordDiv"><span class="titleWord">快速查詢</span></div>
                <hr />
                @Html.TextBox("searchBox", "", new { @class = "searchBox", width = "80px", placeHolder = "請輸入關鍵字" })
                <button>找教練</button>
                <button>找學生</button>
            </div>
        </div>
    </div>*@
@section scripts {
    <script type="text/javascript">
        $(function () {
        });


    </script>
}

